
<h1><%= @category["name"] %> Tunes</h1>
<ul style="list-style-type:none"> <% @songs.each do |song| %>
<li><a href="/songs/<%= song["id"] %>"><%= song["title"] %></a></li>
<% end %>
</ul>

<a href="/">Get Back Homeward</a>