<% if @user %>
<h1>Howdy <%= @user.name %>! Lookin. Good. For Sure, For Sure Now.</h1>
<% else %>
<h1>Henrietta's Country & Hip-Hop Cover Band!</h1>
<% end %>

<% if @user %>

<p><a href="/songs/new">Create a New Tune!</a></p>
<p><a href="/songs">Edit some of ours!</a></p>

 <button id="modal-button">For the modal, yes?</button>
  <div class="modal-container tester">
    <div class="modal-content">
    	<h1>Alright, testing yeah yeah, right on gibberlove!</h1>
      <button class="close-button tester">X</button>
    </div>
  </div>


<form action="/sessions" method="POST">
  <input type="hidden" name="_method" value="delete">
  <button>Log Out.</button>
</form>

<% else %>

<p><a href="/users/new">Sign up</a> to edit our songs and write an original!</p>
<p>OR</p>
<p><a href="login">Log In</a> if you are already part of the bnad!</p>
<p>EITHER WAY</p>
<p>See The Current Catalogue:</p>
<ul> <% @categories.each do |category| %>
<li><a href="/categories/<%= category["id"] %>"><%= category["name"] %> Tunes</a></li>
<% end %>
</ul>

<% end %>
