<h1>Create Song</h1>

<p>You can enter song information as markdown and we'll display it as HTML</p>

<form method="POST" action="/songs">
	<input type="text" name="title">
	<textarea name="content" rows="20" cols="100"></textarea>
	<input type="submit" value="Create Song">
</form>