<h1>Create Song</h1>

<p>You can enter song information here as Markdown and we'll display it as HTML!</p>

<button id="modal-button">Markdown Tips</button>
	<div class="modal-container tester">
		<div class="modal-content">
			<button class ="close-button tester">X</button>
			<p># = H1</p>
			<p>*asterisks* = italicize</p>
			<p>**asterisks** or __underscores__ = embolden</p>
			<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Click here for more guidelines!</a>
		</div>
	</div>

<form method="POST" action="/songs">
	<div class="container">
		<label>Song Title:</label>
		<input type="text" name="title" value= "">
	</div>
	<div>
		<label>Song Category: </label>
		<select name="category">
			<option value="1">Country</option>
			<option value="2">Hip-Hop</option>
		</select>
	</div>
	<!-- <input type="text" name="category" placeholder= "Hip-Hop or Country?"> -->
	<textarea name="content" rows="20" cols="100" placeholder "Song Content"></textarea>
	<input class="input-button" type="submit" value="Create Song">
</form>

<a href="/songs">Back</a>