body {
  background: url("/img/background.jpg") no-repeat;
  color: white;
  font-family: Arial;
  text-align: center;
}

.wrapper {
  padding: 2em;
  text-align: center;
  background-color: #FFF;
  max-width: 700px;
  margin: 1em auto;
}

a:link {
    color: yellow;
}

a:visited {
    color: orange;
}


#modal-button {
  background: #3463d9;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: dotted #204a8a 4px;
}


.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.modal-content {
  color: black;
  position: relative;
  top: 33%;
  background-color: white;
  width: 40%;
  margin: 0 30%;
}